{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/login_style.css' %}">
    <title>Login</title>
</head>
<body>
    
    <div class="app">
        <header> 
            <p> Awach SACCO </p>
            <div class="links">
                
            </div>
        </header>
        <div class="body">
            
            <form class="form" method="post" id="user-form">
                {% csrf_token %}
        
                <h2> Employees Login </h2>
                
                {% if messages %}
                <div class="error-container">
                    {% for message in messages %}
                        <p class="error-message"> {{ message }} </p>
                    {% endfor %}
                </div>
                
                {% endif %}
                
                <div class="inputs">
                    <input type="text" name="employee_id" placeholder="Employee ID">
                    <input type="password" name="password" placeholder="Password">
                </div>
        
                <button type="submit"> Login </button>
                
            </form>
            
        </div>
    </div>

</body>
</html>